body {
  background-color: #547aa5;
  font-family: "Rubik", sans-serif;
}

header {
  background-color: #293132;
  color: white;
  display: block;
  padding: 20px;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

#service {
  align-items: center;
  text-align: center;
}

.nav_item {
  margin: 15px;
}

.nav_item:hover {
  background-color: gray;
}

.perfilIndividual {
  background-color: #ffffff;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
  padding: 25px;
}

.equipo {
  display: flex;
  justify-content: space-evenly;
}

span > h3 {
  display: inline-block;
}

.fotoPerfil {
  border-radius: 50%;
  margin-top: 5px;
}

.tituloSecciones {
  text-align: center;
  margin: 20px;
  font-family: "Rubik", sans-serif;
}

.correo {
  color: black;
  font-style: italic;
  text-decoration: underline;
}

.correo:hover {
  color: blue;
  cursor: pointer;
}

.uno {
  float: left;
  width: 49%;
  background-color: #51d7d6;
  margin-top: 5px;
  margin-bottom: 10px;
}

.dos {
  float: right;
  width: 49%;
  background-color: #51d7d6;
  margin-top: 5px;
  margin-bottom: 10px;
}

.img {
  float: right;
  width: 49%;
  margin-top: 5px;
}

.resumen {
  float: right;
  width: 49%;
}

.btn {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 5px;
}

button {
  background-color: #5479a3;
  color: white;
  height: 30px;
  width: 150px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: rgb(71, 64, 68);
  color: white;
  line-height: 1;
}

.flexbox-container > div:first-child {
  margin-right: 1px;
}

button:hover {
  background-color: blue;
  cursor: pointer;
}

#team {
  padding-bottom: 30px;
}

h2 {
  color: white;
}

.perfilIndividual {
  width: 33%;
}

.detail {
  color: white;
}

.detail:hover {
  color: gray;
  cursor: zoom-in;
}

header {
  background-color: #293132;
  color: white;
  display: block;
  padding: 20px;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

.nav_item {
  margin: 15px;
}

.uno {
  float: left;
  width: 49%;
  background-color: #51d7d6;
  margin-top: 5px;
}

.dos {
  float: right;
  width: 49%;
  background-color: #51d7d6;
  margin-top: 5px;
}

.img {
  float: right;
  width: 49%;
  margin-top: 5px;
}

.resumen {
  float: right;
  width: 49%;
}

.btn {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 5px;
}

button {
  background-color: #5479a3;
  color: white;
  height: 30px;
  width: 150px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: rgb(71, 64, 68);
  color: white;
  line-height: 1;
}

.flexbox-container > div:first-child {
  margin-right: 1px;
}

#link_codigo {
  color: #51d7d6;
  text-decoration: underline;
}

#link_codigo:hover {
  color: #547aa5;
}

ul {
  list-style-type: none;
}
